nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    
}

h2 {
    font-size: 2rem;
    color: #333;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

li {
    font-size: 1.2rem;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
}
@media (max-width: 500px) {
    nav {
        
        align-items: center;
        padding: 20px;
    }
    h2 {
        font-size: 1.75rem;
    }
    li {
        font-size: 1rem;

    }
    
}
.menu-list-item a {
  color: #34495e;
  text-decoration: none;
  transition: color 0.2s;
}

/* Hover: só muda a cor do texto */
.menu-list-item a:hover {
  color: #1a5276;
}

/* Item ativo: só pinta o texto de verde */
.menu-list-item a.active {
  color: #27ae60; /* verde */
}
